<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".lddprototype" />
                    <remove fileExtension=".vsdisco" />
                    <remove fileExtension=".rules" />
                    <remove fileExtension=".exclude" />
                    <remove fileExtension=".refresh" />
                    <remove fileExtension=".sd" />
                    <remove fileExtension=".msgx" />
                    <remove fileExtension=".ldd" />
                    <remove fileExtension=".dd" />
                    <remove fileExtension=".compiled" />
                    <remove fileExtension=".adprototype" />
                    <remove fileExtension=".ad" />
                    <remove fileExtension=".ldf" />
                    <remove fileExtension=".mdf" />
                    <remove fileExtension=".sdmDocument" />
                    <remove fileExtension=".sdm" />
                    <remove fileExtension=".lsaprototype" />
                    <remove fileExtension=".dsprototype" />
                    <remove fileExtension=".cd" />
                    <remove fileExtension=".ssmap" />
                    <remove fileExtension=".lsad" />
                    <remove fileExtension=".ssdgm" />
                    <remove fileExtension=".dsdgm" />
                    <remove fileExtension=".ldb" />
                    <remove fileExtension=".jsl" />
                    <remove fileExtension=".java" />
                    <remove fileExtension=".vjsproj" />
                    <remove fileExtension=".mdb" />
                    <remove fileExtension=".resources" />
                    <remove fileExtension=".resx" />
                    <remove fileExtension=".licx" />
                    <remove fileExtension=".webinfo" />
                    <remove fileExtension=".vbproj" />
                    <remove fileExtension=".vb" />
                    <remove fileExtension=".csproj" />
                    <remove fileExtension=".cs" />
                    <remove fileExtension=".config" />
                    <remove fileExtension=".sitemap" />
                    <remove fileExtension=".browser" />
                    <remove fileExtension=".skin" />
                    <remove fileExtension=".master" />
                    <remove fileExtension=".ascx" />
                    <remove fileExtension=".asax" />
                    <remove fileExtension=".asa" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
