/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.outline
{
  text-shadow:
  -2px -1px 0 #ccf,
  2px -1px 0 #ccf,
  -2px 1px 0 #ccf,
  2px 1px 0 #ccf;
}


.loginBox
{
	border-radius: 25px;
	margin-top: 150px;
}

.logsubmit
{
	margin-bottom: 20px;
}

.input-field label {
     color: #000;
   }